{% extends 'layout' %}

{% block title %}Dashboard{% endblock %}

{% block pageTitle %}Object Creator{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li><a href="{{ route( 'dashboard' ) }}">World Item</a></li>
                <li><a href="{{ route( 'dashboard' ) }}">Jewelry</a></li>
                <li><a href="{{ route( 'dashboard' ) }}">Armor</a></li>
                <li><a href="{{ route( 'dashboard' ) }}">Melee Weapon</a></li>
                <li><a href="{{ route( 'dashboard' ) }}">Ranged Weapon</a></li>
                <li><a href="{{ route( 'dashboard' ) }}">Mage Weapon</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
