{% import 'macros.nav' as nav %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container obits no-gutter">
        <div class="navbar-header">
            <span class="navbar-brand">AC Object Generator</span>
        </div>

        <ul class="nav navbar-nav">
            <li>{{ nav.menuItem( 'dashboard', {}, currentRoute, 'Dashboard' ) }}</li>
            <li>{{ nav.menuItem( 'world-item', {}, currentRoute, 'World Item' ) }}</li>
            <li>{{ nav.menuItem( 'jewelry', {}, currentRoute, 'Jewelry' ) }}</li>
            <li>{{ nav.menuItem( 'armor', {}, currentRoute, 'Armor' ) }}</li>
            <li>{{ nav.menuItem( 'weapon', {}, currentRoute, 'Weapon' ) }}</li>
        </ul>
    </div>
</nav>
